.logo{
  width: 50px;
  float:left;
  margin-top: 1px;
  margin-left: 12px;
  border-radius: 50%;
}
.nav-ul li{
  display: inline-block;
  padding: 10px;
}
.nav-ul li a{
  color: #fff;
  padding: 5px;
  text-decoration: none;
}
.nav-ul {
  padding: 5px;
  margin:0;
  background-color: magenta;
}
.footer{
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color:#282c34;
}
.register, .product{
  margin-left: 30%;
}

.invalid-input{
  color:red;
  margin-left: 22px;
  margin-top: -20px;
  display: block;
}
.login{
  margin-left: 30%;
  margin-top: 100px;
}

.product-list{
  text-align: center;
  margin-top: 50px;
}

.product-list ul li{
  display: inline-block;
  border: 1px solid magenta;
  padding: 5px;
  width: 120px;
}

.product-list ul{
  margin: 0;
}
.inputbox{
  display: block;
  margin: 25px;
  padding: 7px;
  width: 300px;
  border: 1px solid magenta;
}

.appButton{
  color: #fff;
  margin: 25px;
  padding: 10px;
  width: 150px;
  background-color: blue;
  border:0;
  border-radius: .5em;
}

.nav-right{
  text-align: right;
}

.search-product-box{
  width: 400px;
  margin: 20px;
  height: 40px;
  border: 2px solid purple;
  padding-left: 20px;
  border-radius: 30px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
